
@{
    ViewData["Title"] = "Alert";
}

<h1>Alert</h1>

<div class="alert-primary">alert-primary แถบสีฟ้าเข้ม</div>
<div class="alert-secondary">alert-alert-secondaryแถบสีเทาอ่อน</div>
<div class="alert-dark">alert-dark แถบสีเทาเข้ม</div>
<div class="alert-light">alert-light แถบสีขาว</div>
<div class="alert-info">alert-info แถบสีฟ้า</div>
<div class="alert-success">alert-success แถบสีเขียว</div>
<div class="alert-warning">alert-warning แถบสีเหลือง</div>
<div class="alert-danger">alert-danger แถบสีแดง</div>


