
@{
    ViewData["Title"] = "BtnGroup";
}
<h1 class="display-4">Wellcome</h1>
<p>Learn about <a href="http://docs.microsoft.com/aspnet/core">building Webapps with ASP.Net Core</a>.</p>

<h1>BtnGroup</h1>

<h6 class="display-4">ทำ Group btn ด้วย btn-group</h6>
<hr />
<div class="btn-group">
    <button class="btn">หน้าแรก</button>
    <button class="btn">เว็บบอร์ด</button>
    <button class="btn">บทความ</button>
    <button class="btn">ติดต่อเรา</button>
</div>

