@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <h1 class="display-4">Wellcome</h1>
    <p>Learn about <a href="http://docs.microsoft.com/aspnet/core">building Webapps with ASP.Net Core</a>.</p>

    <button type="button">แบบปกติ</button>
    <button type="button" class="btn">แบบ btn</button>
    <button type="button" class="btn btn-primary">แบบ btn-primary สีน้ำเงิน</button>
    <button type="button" class="btn btn-secondary">แบบ btn-secondary สีเท่าเข้ม</button>
    <hr />

    <button type="button" class="btn btn-info">แบบ btn-info สีฟ้า</button>
    <button type="button" class="btn btn-warning">แบบ btn-warning สีส้ม</button>
    <button type="button" class="btn btn-danger">แบบ btn-danger สีแดง</button>
    <button type="button" class="btn btn-success">แบบ btn-success สีเขียว</button>
    <hr />

    <button type="button" class="btn btn-dark">แบบ btn-dark สีดำ</button>
    <button type="button" class="btn btn-light">แบบ btn-light สีเทา</button>
    <button type="button" class="btn btn-link">แบบ btn-link</button>
    <hr />
    <hr />

   
    <hr />

   
</div>