
@{
    ViewData["Title"] = "Toolbar";
}

<h1>Toolbar</h1>

<h6>สร้าง toolbar ด้วย class btn-toolbar</h6>
<hr />
<div class="btn-toolbar" role="toolbar">

    <div class="btn-group mr-3" role="group" aria-label="Group1">
        <button type="button" class="btn btn-primary">หน้าแรก</button>
        <button type="button" class="btn btn-primary">บทความ</button>
        <button type="button" class="btn btn-primary">ข่าว</button>
    </div>
    <div class="btn-group" role="group" aria-label="Group2">
        <button type="button" class="btn btn-info">ติดต่อเรา</button>
        <button type="button" class="btn btn-info">นโยบายความเป็นส่วนหน้า</button>
    </div>
</div>