@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="text-center">
    <form asp-controller="Products" asp-action="SearchProducts">
        ค้นหาสินค้า : <input type="text" name="q" />
        <input type="submit" value="ค้นหา" class="btn-info" />
    </form>
</div>