
@model Ex_5_1_BasicForm.Models.Customer

@{
    ViewData["Title"] = "Finish";
}

<h1>Finish</h1>

<h1>บันทึกข้อมูลลูกค้า : @Html.DisplayFor(model => model.FullName) เรียบร้อยแล้ว</h1>

<pre>
ในหนังสือ ไม่ได้บอกให้แสดง Finish ด้วย 
แต่ดันมีใน คำอธิบาย
</pre>