
@{
    ViewData["Title"] = "CardDeck";
}

<h1>CardDeck</h1>


<div class="card-deck">
    <div class="card border-primary">
        <div class="card-body">
            <h3 class="card-title">ASP.Net Core MVC</h3>
            <p class="card-text">เรียนรู้พื้นฐานการใช้งาน ASP.Net Core MVC ด้วยภาษา C#</p>
            <a href="/Home/Index" class="btn btn-info">อ่านต่อ....</a>
        </div>
    </div>

    <div class="card border-primary">
        <div class="card-body">
            <h3 class="card-title">BASIC WEB</h3>
            <p class="card-text">ศึกษาการสร้าง Web</p>
            <a href="/Home/Index" class="btn btn-dark">อ่านดิค้าบ....</a>
        </div>
    </div>

    <div class="card border-primary">
        <div class="card-body">
            <h3 class="card-title">Core Blazer</h3>
            <p class="card-text">พัฒนา Web Assembly โดยอาศัย C#</p>
            <a href="/Home/Index" class="btn btn-dark">ก็มาดิค๊าบบบ....</a>
        </div>
    </div>

</div>
