
@{
    ViewData["Title"] = "Card";
}

<h1>Card</h1>

<div class="card">
    <div class="card-body">
        <h3 class="card-title">ASP.Net Core MVC</h3>
        <p class="card-text">เรียนรู้พื้นฐานการใช้งาน ASP.Net Core MVC ด้วยภาษา C#</p>
        <a href="/Home/Index" class="btn btn-info">อ่านต่อ....</a>

    </div>
</div>

<hr />
<div class="card text-white bg-dark">
    <div class="card-body">
        <h3 class="card-title">ASP.Net Core MVC</h3>
        <p class="card-text">เรียนรู้พื้นฐานการใช้งาน ASP.Net Core MVC ด้วยภาษา C#</p>
        <a href="/Home/Index" class="btn btn-info">อ่านต่อ....</a>

    </div>
</div>

<hr />
<div class="card border-danger">
    <div class="card-body">
        <h3 class="card-title">ASP.Net Core MVC</h3>
        <p class="card-text">เรียนรู้พื้นฐานการใช้งาน ASP.Net Core MVC ด้วยภาษา C#</p>
        <a href="/Home/Index" class="btn btn-info">อ่านต่อ....</a>

    </div>
</div>